.fullScreen{
    height:100%;
    width:100vw;
    position: absolute;
    background-color: rgb(4, 4, 31);

}

.leftContent{
    position: absolute;
    height:100%;
    width:10vw;
    margin-left:30px;
}

.rightContent{
    height:100%;
    width:90vw;
    margin-left:20vw;
    position: absolute;
    background-repeat: no-repeat;
    background-size: fit-content;
    background-image: url("../resources/images/doctorStrange.jpeg");
}

.cardHover:hover{
    background-color: bisque;
}