.h1{
  color: white;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
}

.BuyingInfoContainer{
color:white;
font-size:15px;
/* background-color: antiquewhite; */
width: 70%;

}

.ignoreDriveLink{
  background-color:rgba(255, 245, 4, 0.32);
  border-radius: 15px 15px 15px 0px;
  width: 300px;
    height: 40px;
    color:rgba(226, 241, 255, 0.64);
    padding-top: 5px;
}