.h1{
  color: white;
  padding: 10px 0px 0px 20px;
  font-size: 20px;
  font-weight: bold;
}

.BuyingInfoContainer{
color:white;
font-size:15px;
/* background-color: antiquewhite; */
width: 70%;


}

/* .ignoreDriveLink{
  background-color:rgba(255, 245, 4, 0.32);
  border-radius: 15px 15px 15px 0px;
  width: 300px;
    height: 40px;
    color:rgba(226, 241, 255, 0.64);
    padding-top: 5px;
} */

.button {
  background-color: yellow;
  border-radius: 10px;
  color: #810C0C;
  font-weight: bold;
  border-color: yellow;
  margin-bottom: 10px;
  height: 50px;
  float: right;


}

.p{
  float:left;
}

.addButton{
  background-color: #1f1d2b;
  border-color: yellow;
  color:yellow;
  float: left;
}

.pName{
  /* width:200px; */
  float: left;
  padding-left: 100px;
}