.ant-form-item {
    text-align: left;
    
    margin-bottom: 40px;
    width: 100%;
}

.ant-input {
    margin-bottom: 10px;
    margin-right: 10px;
    padding-right: 10px;
    color: rgba(255, 253, 253, 0.85);
    background-color: #1f1d2b;;

    border: 1px solid yellow;
    border-radius: 10px;
    height: 40px;
margin-left: 10px;


}

.ant-form-item-label>label {
    padding-right:10px;
    color: white;
    font-size: 16px;
}

.ant-select:not(.ant-select-customize-input) .ant-select-selector {
    position: relative;
    background-color: #1f1d2b;
    border: 1px solid yellow;
    border-radius: 10px;
    color: white;
    height: 40px;
 
}

.ant-select-arrow {
   
    color: white;
    
}