.fullScreen{
    height: 100vw;
    width: 100vw;
    position:absolute;
    background-color: rgb(10, 9, 9);
}

.trailerButton:hover{
    background: yellow;
}

.navBar{
    height:20vw;
    width:100%;
    position:relative;
    /* background-image: url("../../resources/images/MovieMania.png"); */
}

.topRated{
    height:15vw;
    width:100%;
    position:relative;
}

.recentMovies{
    height:15vw;
    width:100%;
    position:relative;
}

.footer{
    height: 5vw;
    width: 100%;
    top:92%;
    position: fixed;
    background-color: rgb(4, 4, 31);
}

.categoryBtn{
    height: 3vw;
    width:200px;
    background-color: rgb(4, 4, 31);
    color: #c5bf1d;
    font-size: large;
    border: none;

}

.categoryBtn:hover{
    background-color:  #38370e;
    
}