.fullScreen{
    height: 100vw;
    width: 100vw;
    position:absolute;
    background-color: antiquewhite;
    /* background-color: rgb(10, 9, 9); */
}

.trailerButton:hover{
    background: yellow;
}

.navBar{
    height:30vw;
    width:100%;
    position:relative;
    background-image: url("../../resources/images/movie.png");
}

.detailContent{
    height: auto;
    width: 100vw;
    top: 40vw;
    background-color: #00010F;
    position: relative;
}

.topRated{
    height:15vw;
    width:100%;
    position:relative;
}

.recentMovies{
    height: auto;
    width:100%;
    position:relative;
}

.footer{
    height: auto;
    width: 95%;
    top:90%;
    position: fixed;
    background-color:rgba(0, 0, 0, 0.397);
}

.categoryBtn{
    height: 3vw;
    width:200px;
    background-color: rgb(4, 4, 31);
    color: #c5bf1d;
    font-size: large;
    border: none;

}

.categoryBtn:hover{
    background-color:  #38370e;
    
}


.card:hover{
    transform: scale(1.2);
    transition-duration: 0.5s;
}

.topRatedCard{
    transform: scale(1.1);
    transition-duration: 0.3s;
}