.fullScreen{
    height: auto;
    width: 100vw;
    position:absolute;
    background-color: rgb(28, 27, 27);
}

.navBar{
    height:20vw;
    width:100%;
    position:relative;
    background-image: url("../../resources/images/MovieMania.png");
}

.topRated{
    height:15vw;
    width:100%;
    position:relative;
}

.recentMovies{
    height:15vw;
    width:100%;
    position:relative;
}

.footer{
    height: 5vw;
    width: 100%;
    top:92%;
    position: fixed;
    background-color: black;
}